<!DOCTYPE html>
<html ng-app="BasicApp">
<head>
	<title>Madras Music Season 2016-17</title>
	<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
       <!-- script type="text/javascript" src="/bower_components/angular-bindonce/bindonce.js"> /script   -->
       <!-- script type="text/javascript" src="../bower_components/moment/moment.js" /script> -->
  <!-- script type="text/javascript" src="../bower_components/moment-range/lib/moment-range.js">/script -->
     <link rel="stylesheet"  type="text/css" href="css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="css/angularjs-datetime-picker.css">
    <link rel="stylesheet" type="text/css" href="css/jon.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/angular-mighty-datepicker.css"> -->


	<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
        <script type="text/javascript" src="js/angular.js"></script>

    <script type="text/javascript" src="js/basics/services/services.js"></script>

     <!-- script type="text/javascript" src="js/angular-mighty-datepicker.js" /script -->
    <script type="text/javascript" src="js/basics/app.js"></script>
    <script type="text/javascript" src="js/angularjs-datetime-picker.min.js"></script>

     <script type="text/javascript" src="js/basics/controllers/filterController.js"></script>
    <script type="text/javascript" src="js/basics/controllers/mainController.js"></script>
     <!-- script type="text/javascript" src="js/basics/controllers/dateController.js" /script -->

    
   

	
	
    
   
</head>

<body>
    <div id='selectors' ng-controller='FilterController'>
        <input id='searchbox' type='text' ng-model="filterService.searchText"  placeholder="Search Music Season"/>

        <div id='datepicker' ng-init="">
           <label id='datelabel' for="pickbox" class="control-label">Choose a Date</label>
            <input id='pickbox' ng-model="filterService.activeFilters.datetime" date-format="yyyy-MM-dd" datetime-picker date-only size="60" placeholder="Dec 1st to Jan 4th only" />
            <button ng-click="remove()">Click to reset </button>

        </div>
        
        <div id= 'checkboxdiv'>
           <!--   <input id='musiccheckbox' type="checkbox" ng-model="filterService.activeFilters.concert"  />
            <label id= 'musicboxlabel' for="musiccheckbox" class="control-label">Concerts only</label> -->
            <input id='dancecheckbox' type="checkbox" ng-model="filterService.activeFilters.specialevent"  />
            <label id= 'danceboxlabel' for="dancecheckbox" class="control-label">Dance & Special Events only</label>
         
        </div>


        <!-- <label for="locationComboBox" class="control-label">Venue</label>
        <select id="locationComboBox" ng-model="filterService.activeFilters.location" >
            <option ng-repeat="place in ['BVB Main Hall', 'BVB Mini Hall', 'Narada Gana Sabha Main Hall', 'Srinivasa Sastri Hall']">
                {{place}}
            </option>
        </select> -->
    


      
     </div>
    <div id='content' ng-controller='MainController'>
        <table>
            <thead>
                <tr>
                    <th>Festival</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Artists</th>
               <!--      <th>Instrument</th> -->
                    <th>Dance & Special Events</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='concert in concerts | filter:filterService.activeFilters | filter:filterService.searchText' tooltip="{{concert.festival}}: {{concert.info}}">
                    <span>
                    <td>
                         <span class='festival block'>{{concert.festival}}
                        </span>    
                    </td>
                    <td>
                        <span class='date block'>{{concert.date}}</span>
                        <span class='time block'>{{concert.time }}</span>
                    </td>
                      
                    <td class='location'>{{concert.location}}</td>

                    <td class='artists' >
                        <span ng-repeat="artist in concert.artists">
                            <span class='instrument'>{{artist.instrument}}</span>
                            <span class='artist'>{{artist.name}}</span>
                        </span>
                    </td>
                    <td class='special' ng-hide='concert.special == []'>
                    {{concert.special}} 
                    </td>
                    <td class='info'>
                    <!-- {{concert.info}}  -->
                         <span class='block invisible' ng-show='concert.specialevent==false'>
                        Concert
                        </span>
                        <span class='block invisible' ng-hide='concert.specialevent==false'>
                         Dance & Special Events
                        </span>
                    <span class='invisible'>{{concert.datetime | date}}</span>
                    </td>

                </span>
                </tr>
            </tbody>
        </table>

<!-- 
         <input type='text' ng-model='newConcert' />
        <button ng-click='addNew()'>Add</button> -->
    </div>
</body>
</html>